.pi-loop.json.lock
work/done/
work/response/
work/todo/
venv/

# old stuff
_old

# agent definitions
agents
.pi/

# my plans
docs/

# skills which are not good enough yet but i want to work on them
skills/financial-analysis
skills/fix-my-work
skills/review-and-fix
skills/review-my-work

